@model SignInViewModel

@{
    ViewData["Title"] = "Index";
}

@section scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

<h2>Registration From</h2>

<div class="row">
    <div class="col-md-8">
        <section>
            <form method="post" role="form" class="form-horizontal" action="~/RegistrationForm/Register">
                @Html.AntiForgeryToken()

                <h4>Please input you data</h4>
                <hr />

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Login" class="control-label"></label>
                    <input asp-for="Login" class="form-control" />
                    <span asp-validation-for="Login" class="text-danger"></span>
                </div>


                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="control-label"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="FristName" class="control-label"></label>
                    <input asp-for="FristName" class="form-control" />
                    <span asp-validation-for="FristName" class="text-danger"></span>
                </div>

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="IsAdmin" class="control-label"></label>
                    <input asp-for="IsAdmin" class="form-control" />
                    <span asp-validation-for="IsAdmin" class="text-danger"></span>
                </div>

                @*@Html.ValidationSummary(true)

                    <div class="form-group">
                        @Html.LabelFor(Model => Model.Login, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(Model => Model.Login)
                            @Html.ValidationMessageFor(Model => Model.Login)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(Model => Model.Password, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(Model => Model.Password)
                            @Html.ValidationMessageFor(Model => Model.Password)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(Model => Model.ConfirmPassword, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(Model => Model.ConfirmPassword)
                            @Html.ValidationMessageFor(Model => Model.ConfirmPassword)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(Model => Model.FristName, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(Model => Model.FristName)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(Model => Model.LastName, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(Model => Model.LastName)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(Model => Model.IsAdmin, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.EditorFor(Model => Model.IsAdmin)
                        </div>
                    </div>*@

                @*<div class="form-group">
                        <label asp-for="LoginModel.Username" class = "col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="LoginModel.Username" class="form-control" />
                            <span class="alert-danger" asp-validation-for="LoginModel.Username"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="LoginModel.Password" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="LoginModel.Password" class="form-control" />
                            <span class="alert-danger" asp-validation-for="LoginModel.Password"></span>
                        </div>
                    </div>*@

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button asp-page-handler="Register" class="btn btn-default">register</button>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>

