@model List<PhoneDto>

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">

    <!-- Page Heading -->
    <h1 class="my-4">
        Catalog
        <small>Mobile phones</small>
    </h1>

    <!-- Project One -->
    @foreach (var item in Model)
    {
        if (item.Amount < 1)
        {
            continue;
        }
            <div class="row">
                <div class="card mb-8 mb-lg-0">
                    <div class="card-body">
                        
                        <hr>
                        <div class="col-md-10">
                            <ul>
                                <li>
                                    <h5 asp-for="item.Name" class="card-title text-muted text-uppercase text-center">@item.Name</h5>
                                </li>
                                <li>
                                    <div class="col-md-10">
                                        <a href="#">
                                            <img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/500x300" alt="">
                                        </a>
                                    </div>
                                </li>

                                <li>
                                    <h2 class="col-4">@item.Price $</h2>
                                </li>

                                <li>
                                    <div class="row">
                                        <h5 class="card-title text-muted text-uppercase text-center col-4">Amount</h5>
                                        <div class="col-1"></div>
                                        <h5 class="col-4">@item.Amount</h5>
                                    </div>
                                </li>
                                <li>
                                    <p>@item.Description</p>
                                </li>
                                <li>
                                    <div class="row">
                                        <h5 class="card-title text-muted text-uppercase text-center col-4">Producer</h5>
                                        <div class="col-1"></div>
                                        <h5 class="col-4">@item.CompanyName</h5>
                                    </div>
                                </li>
                            </ul>
                            <button class="btn btn-lg btn-primary btn-block text-uppercase" onclick="location.href='@Url.Action("AddPhoneInBucket", "Home", new { phoneId = item.Id })'">
                                Add in Bucket
                            </button>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
    }

</div>
